localhost:8080 {
	tls internal

	@fastapi {
		path /api/*
		path /auth/*
		path /static/*
		path /redoc
		path /docs
		path /openapi.json
	}

	@hasura {
		path /v1*
		path /v2*
		path /graphql-engine
		path /console*
	}

	@mailslurper_www {
		path /www/blockui/*
		path /www/bootstrap-daterangepicker/*
		path /www/bootstrap-dialog/*
		path /www/bootstrap-growl/*
		path /www/bootstrap/*
		path /www/fontawesome/*
		path /www/handlebars/*
		path /www/jquery/*
		path /www/lightbox2/*
		path /www/mailslurper/*
		path /www/moment/*
		path /www/npo/*
	}

	@kratos {
		path /self-service/registration/browser
		path /self-service/registration/flows
		path /self-service/registration
		path /regisration
	}

	log {
		output stdout
	}

	

	handle {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Credentials true
			Access-Control-Allow-Methods *
			Access-Control-Allow-Headers *
		}
		reverse_proxy /mailslurper mailslurper:4436 {
			rewrite /
		}
		reverse_proxy @mailslurper_www mailslurper:4436
		reverse_proxy /www/mail* mailslurper:4437
		
		reverse_proxy @hasura hasura:8080
		reverse_proxy /.well-known/* hydra:4444

		reverse_proxy @kratos kratos:4433

		reverse_proxy @fastapi app:8000
	}
}
